<!DOCTYPE html>
<html>
    <head>
        <title>Understory</title>
        <link rel="stylesheet" href="/css/index-style.css">
    </head>
    <body>
        <header>
            <div id="topNavBar_ID">
                <h1>UNDERSTORY</h1>
                <button>Produkt</button>
                <button>Se demo</button>
                <button>Priser</button>
                <button>Community</button>
                <a href="logind">Log ind</a>
            </div>
        </header>
        <br>
        <video autoplay muted loop" id="backgroundVideo_ID">
            <source src="/videos/backgroundVideo.mp4" type="video/mp4">
        </video>

        <div id="videoTekstContainer_ID">
            <h2>DIT ENESTE VÆRKTØJ TIL AT SÆLGE OPLEVELSER</h2>
            <span>Ét system til bookinger, kalender, marketing, og alt andet<br> du har brug for.</span>
            <br>
            <a href="opret-profil">Kom i gang</a>

        </div>
    </body>
</html>

