<!DOCTYPE html>
<html>
    <head>
        <title>Understory</title>
        <link rel="stylesheet" href="/css/index-style.css">
    </head>
    <body>
        <header>
            <div id="topNavBar_ID">
                <h1>UNDERSTORY</h1>
                <button>Produkt</button>
                <button>Se demo</button>
                <button>Priser</button>
                <button>Community</button>
                <a href="logind">Log ind</a>
            </div>
        </header>
        <br>

        <div id="opretProfilContainer_ID">
                <h2>Opret profil</h2>
                <div>
                <span>Fornavn: </span>
                <input>
                <br>
                <span>Efternavn: </span>
                <input>
                <br>
                <span>E-mail:</span>
                <input>
                <br>
                <span>Telefon: </span>
                <input>
                <br>
                <br>
                </div>
                <button id="opretProfilButton_ID">Opret profil</button>
            </div>
   
    </body>
</html>


<style>
    body{
        background-color: #F8F6ED;
    }
    #opretProfilContainer_ID{
        background-color: #0B3318;
        border-radius: 10px;
        font-family: bahnschrift;
        color: #F1F97E;
        display: inline-block;
        margin-top: 3%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        width: 25%;
    }
    #opretProfilContainer_ID span{
        display: inline-block;
        margin-top: 4%;
    }
    #opretProfilContainer_ID input{
        float: right;
        border: none;
        outline: none;
        background-color: transparent;
        color: #F1F97E;
        border-bottom: 1px solid #F1F97E;
        font-family: bahnschrift;
        margin-top: 4%;
        width: 70%;
    }
    #opretProfilButton_ID{
        border: 2px solid #F1F97E;
        border-radius: 8px;
        background-color: #0B3318;
        color: #F1F97E;
        font-family: bahnschrift;
    }
    #opretProfilButton_ID:hover{
        background-color: #F1F97E;
        color: #0B3318;
        cursor: pointer;
    }
</style>
