body{
    background-color: #F5F6F7;
    font-family: bahnschrift;
    background-color: #F1F97E;
}
h2{
    font-size: 200%;
    padding-left: 1%; padding-right: 1%; padding-bottom: 3%;
    color: #0B3318;
}
#topNavBar_ID{
    background-color: #0B3318;
    align-items: center;
    border-radius: 10px;
    display: inline-block;
    padding: 0.7%;
}
#topNavBar_ID h1{
    color: #0B3318;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
}
#topNavBar_ID button{
    color: white;
    display: inline-block;
    vertical-align: super;
    background-color: transparent;
    border: none;
    font-family: Bahnschrift;
}
#logIndContainer_ID{
    /* display: inline-block;*/
    width: 17.5%;
    background-color: #0B3318;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin: 0 auto;
    align-content: center;
}
#logIndContainer_ID button{
    display: inline-block;
    background-color: transparent;
    color: #F1F97E;
    border: 2px solid #F1F97E;
    font-family: bahnschrift;
    border-radius: 5px;
    width: 100%;
    
}
#logIndContainer_ID button:hover{
    background-color: #F1F97E;
    color: #0B3318;
    font-family: bahnschrift;
    cursor: pointer;
}
#logIndContainer_ID{
    background-color: #0B3318;
    color: #022C12;
}
#logIndContainer_ID h3{
    color: #F1F97E;
    text-align: center;
    font-size: 175%;
}
#logIndContainer_ID span{
    color: #F1F97E;
}
#logIndContainer_ID input{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #F1F97E;
    color: #F1F97E;
    font-family: bahnschrift;
    width: 98%;
}